#wrap {
  position: relative;
  min-width: 1200px;
}
@media screen and (max-width:640px) {
  #wrap {
    min-width: 100%;
  }
}
#wrap > .loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background-color: #fbf7c1;
}
#wrap > .loading > p {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 64px;
  height: 64px;
  text-indent: -9999px;
  background-image: url(./../images/loading.gif);
  transform: translate(-50%, -50%);
}
#wrap > #home {
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 100%;
}
@media screen and (max-width:640px) {
  #wrap > #home {
    overflow: initial;
  }
}
#wrap > #home:after {
  display: block;
  padding-bottom: 100%;
  content: "";
}
#wrap > #home > .intro {
  position: absolute;
  z-index: 200;
  left: 0;
  top: 2%;
  width: 100%;
  height: 100%;
  text-align: center;
}
@media screen and (max-width:640px) {
  #wrap > #home > .intro {
    z-index: 800;
    top: 66%;
    padding-bottom: 30px;
  }
}
#wrap > #home > .intro > h1 {
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0);
  z-index: 100;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
}
@media screen and (max-width:640px) {
  #wrap > #home > .intro > h1 {
    font-size: 22px;
    width: 400px;
    height: 40px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width:480px) {
  #wrap > #home > .intro > h1 {
    top: 20px;
  }
}
#wrap > #home > .intro > h2 {
  color: #f08d50;
  font-size: 40px;
  line-height: 60px;
  text-indent: -9999px;
}
#wrap > #home > .intro > h2 > span {
  color: #602a09;
}
@media screen and (max-width:640px) {
  #wrap > #home > .intro > h2 > span {
    display: block;
  }
}
#wrap > #home > .intro > .creative {
  position: absolute;
  opacity: 0;
  top: 2.2%;
  right: 84%;
  width: 167px;
  height: 30px;
  background-image: url(./../images/creative.png);
  animation: creative 0.4s ease-in 1s alternate forwards;
}
@media screen and (max-width:640px) {
  #wrap > #home > .intro > .creative {
    top: 20px;
    right: 50%;
    transform: translate(50%, 0);
    opacity: 1;
    animation: none;
  }
}
@media screen and (max-width:480px) {
  #wrap > #home > .intro > .creative {
    top: 40px;
  }
}
#wrap > #home > .intro > .programmer {
  position: absolute;
  opacity: 0;
  top: 2.2%;
  left: 47.2%;
  width: 245px;
  height: 30px;
  background-image: url(./../images/programmer.png);
  animation: programmer 0.4s ease-in 1s alternate forwards;
}
@media screen and (max-width:640px) {
  #wrap > #home > .intro > .programmer {
    top: 52px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 1;
    animation: none;
  }
}
@media screen and (max-width:480px) {
  #wrap > #home > .intro > .programmer {
    top: 72px;
  }
}
#wrap > #home > .intro > .mypr {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 5%;
  transform: translate(-50%, 0);
  color: #fff7ce;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 1px;
}
@media screen and (max-width:640px) {
  #wrap > #home > .intro > .mypr {
    top: 84px;
  }
}
@media screen and (max-width:480px) {
  #wrap > #home > .intro > .mypr {
    top: 104px;
  }
}
#wrap > #home > .bgmov > .background {
  overflow: hidden;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  background-image: url(./../images/background/background_image.jpg);
  background-size: cover;
}
#wrap > #home > .bgmov > .background > .owl {
  position: absolute;
  z-index: 140;
  left: 78%;
  top: 24%;
  width: 8%;
  height: 8%;
}
#wrap > #home > .bgmov > .background > .owl > .owlBody {
  position: absolute;
  z-index: 141;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(./../images/background/owl.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#wrap > #home > .bgmov > .background > .owl > .owlEye {
  position: absolute;
  z-index: 142;
  left: 10%;
  top: 27%;
  width: 20%;
  height: 20%;
  background-image: url(./../images/background/owl_eye_ani00.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation: owlEye_ani 10s ease 0s normal infinite forwards;
}
#wrap > #home > .bgmov > .background > .backLight {
  position: absolute;
  z-index: 110;
  left: 21%;
  top: 54%;
  width: 58%;
  height: 58%;
  background-image: url(./../images/background/back_light.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(0%, 0);
  animation: backLight_ani 0.6s ease 0s normal infinite forwards;
}
#wrap > #home > .bgmov > .background > .tree {
  position: absolute;
  z-index: 110;
  left: 31.5%;
  top: 40%;
  width: 37%;
  height: 37%;
  background-image: url(./../images/background/tree.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#wrap > #home > .bgmov > .background > .campFire {
  position: absolute;
  z-index: 120;
  left: 44%;
  top: 65%;
  width: 12%;
  height: 12%;
  background-image: url(./../images/background/camp_fire.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#wrap > #home > .bgmov > .background > .stickPig {
  position: absolute;
  z-index: 300;
  left: 40%;
  top: 49%;
  width: 23%;
  height: 23%;
}
#wrap > #home > .bgmov > .background > .stickPig > .stick {
  position: absolute;
  z-index: 301;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(./../images/background/stick.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#wrap > #home > .bgmov > .background > .stickPig > .pig {
  position: absolute;
  z-index: 302;
  left: 18%;
  top: -2%;
  width: 66%;
  height: 66%;
  background-image: url(./../images/background/pig.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#wrap > #home > .bgmov > .background > .stickPig > .fire {
  position: absolute;
  z-index: 303;
  left: 28%;
  top: 34%;
  width: 54%;
  height: 54%;
  background-image: url(./../images/background/fire_Ani01.png);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.4;
  animation: fire_ani 1s ease 0s normal infinite forwards;
}
#wrap > #home > .bgmov > .background > .ryan {
  position: absolute;
  z-index: 200;
  left: 40.5%;
  top: 27.5%;
  width: 26%;
  height: 26%;
}
#wrap > #home > .bgmov > .background > .ryan > .ryanWeapon {
  position: absolute;
  z-index: 201;
  left: 21.5%;
  top: 50%;
  width: 42%;
  height: 42%;
  background-image: url(./../images/background/character/ryan_weapon.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#wrap > #home > .bgmov > .background > .ryan > .ryanBody {
  position: absolute;
  z-index: 202;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-image: url(./../images/background/character/ryan_body_ani01.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation: ryan_ani 5s ease 0s normal infinite forwards;
}
#wrap > #home > .bgmov > .background > .muzi {
  position: absolute;
  z-index: 200;
  left: 54.5%;
  top: 26%;
  width: 26%;
  height: 26%;
}
#wrap > #home > .bgmov > .background > .muzi > .muziBody {
  position: absolute;
  z-index: 202;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-image: url(./../images/background/character/muzi_body_ani01.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation: muzi_ani 4s ease 2s normal infinite forwards;
}
#wrap > #home > .bgmov > .background > .apeach {
  position: absolute;
  z-index: 210;
  left: 32.5%;
  top: 33%;
  width: 24%;
  height: 24%;
}
#wrap > #home > .bgmov > .background > .apeach > .apeach_leftHand {
  position: absolute;
  z-index: 211;
  left: 22.2%;
  top: 57.7%;
  width: 20%;
  height: 20%;
  background-image: url(./../images/background/character/apeach_leftH_Ani03.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation: apeachHand_ani 2s ease 0s normal infinite forwards;
}
#wrap > #home > .bgmov > .background > .apeach > .apeachWeapon01 {
  position: absolute;
  transform-origin: left;
  z-index: 212;
  left: 27.5%;
  top: 53%;
  rotate: 10deg;
  width: 33%;
  height: 33%;
  background-image: url(./../images/background/character/apeach_weapon02.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation: apeachWeapon_ani 2s ease-in 0s normal infinite forwards;
}
#wrap > #home > .bgmov > .background > .apeach > .apeachBody {
  position: absolute;
  z-index: 213;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-image: url(./../images/background/character/apeach_body.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#wrap > #home > .bgmov > .background > .apeach > .apeachWeapon02 {
  position: absolute;
  z-index: 214;
  left: 3%;
  top: 63%;
  width: 33%;
  height: 33%;
  background-image: url(./../images/background/character/apeach_weapon01.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#wrap > #home > .bgmov > .background > .con {
  position: absolute;
  z-index: 210;
  left: 53%;
  top: 36%;
  width: 24%;
  height: 24%;
}
#wrap > #home > .bgmov > .background > .con > .conBody {
  position: absolute;
  z-index: 211;
  left: 28%;
  top: 47%;
  width: 33%;
  height: 33%;
  background-image: url(./../images/background/character/con_body_ani01.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation: con_ani 0.8s ease-out 0s normal infinite forwards;
}
#wrap > #home > .bgmov > .background > .con > .conMusic01 {
  position: absolute;
  z-index: 212;
  left: 34%;
  top: 35.5%;
  rotate: 20deg;
  opacity: 0;
  width: 12%;
  height: 12%;
  opacity: 0;
  background-image: url(./../images/background/character/music01.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation: music01_ani 1.5s ease 0s normal infinite forwards;
}
#wrap > #home > .bgmov > .background > .con > .conMusic02 {
  position: absolute;
  z-index: 213;
  left: 43%;
  top: 31%;
  rotate: -20deg;
  opacity: 0;
  width: 12%;
  height: 12%;
  background-image: url(./../images/background/character/music02.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation: music02_ani 1.5s ease 1.1s normal infinite forwards;
}
#wrap > #home > .bgmov > .background > .con > .conMusic03 {
  position: absolute;
  z-index: 212;
  left: 43%;
  top: 51%;
  rotate: -10deg;
  opacity: 0;
  width: 12%;
  height: 12%;
  background-image: url(./../images/background/character/music01.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation: music03_ani 1.2s ease 0.4s normal infinite forwards;
}
#wrap > #home > .bgmov > .background > .jay-G {
  position: absolute;
  z-index: 400;
  left: 22.5%;
  top: 52%;
  width: 37%;
  height: 37%;
}
#wrap > #home > .bgmov > .background > .jay-G > .jay-GHelm {
  position: absolute;
  z-index: 401;
  left: 22%;
  top: 20%;
  width: 42%;
  height: 42%;
  background-image: url(./../images/background/character/jay-G_helm.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#wrap > #home > .bgmov > .background > .jay-G > .jay-GBody {
  position: absolute;
  z-index: 402;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-image: url(./../images/background/character/jay-G_body_ani01.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation: jay-G_ani 4.5s ease 0.5s normal infinite forwards;
}
#wrap > #home > .bgmov > .background > .frodo {
  position: absolute;
  z-index: 400;
  left: 64.5%;
  top: 53%;
  width: 36%;
  height: 36%;
}
#wrap > #home > .bgmov > .background > .frodo > .frodoWeapon {
  position: absolute;
  z-index: 401;
  left: -16%;
  top: 38%;
  width: 28%;
  height: 28%;
  background-image: url(./../images/background/character/frodo_weapon.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#wrap > #home > .bgmov > .background > .frodo > .frodoBody {
  position: absolute;
  z-index: 402;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-image: url(./../images/background/character/frodo_body_ani01.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation: frodo_ani 5s ease 0s normal infinite forwards;
}
#wrap > #home > .bgmov > .background > .tube {
  position: absolute;
  z-index: 410;
  left: 37%;
  top: 71.5%;
  width: 26%;
  height: 26%;
}
#wrap > #home > .bgmov > .background > .tube > .tubeBody {
  position: absolute;
  z-index: 411;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-image: url(./../images/background/character/tube_body.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#wrap > #home > .bgmov > .background > .neo {
  position: absolute;
  z-index: 410;
  left: 54%;
  top: 71%;
  width: 25%;
  height: 25%;
}
#wrap > #home > .bgmov > .background > .neo > .neoBody {
  position: absolute;
  z-index: 411;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-image: url(./../images/background/character/neo_body.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#wrap > #home > .bgmov > .background > .neo > .neoHair {
  position: absolute;
  z-index: 412;
  left: -1%;
  top: 5%;
  width: 50%;
  height: 50%;
  background-image: url(./../images/background/character/neo_hair.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#wrap > #home > .bgmov > .background > .gradient01 {
  position: absolute;
  z-index: 500;
  left: 0;
  right: 0;
  top: 0%;
  width: 100%;
  height: 30%;
  transform: rotate(180deg);
  background-image: url(./../images/background/gradient.png);
  background-size: contain;
}
@media screen and (max-width:640px) {
  #wrap > #home > .bgmov > .background > .gradient01 {
    opacity: 0;
  }
}
#wrap header {
  position: absolute;
  z-index: 1000;
  top: 50%;
  width: 100%;
  min-width: 1200px;
  background-color: #fbf7c1;
  border-bottom: 1px solid #fff7ce;
}
@media screen and (max-width:640px) {
  #wrap header {
    min-width: 100%;
  }
}
#wrap header.fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}
#wrap header > .container {
  height: 66px;
}
#wrap header > .container > h2 {
  position: absolute;
  left: 7%;
  top: 50%;
  transform: translate(0, -50%);
  background-image: url(./../images/logo.png);
  background-repeat: no-repeat;
}
#wrap header > .container > h2 > a {
  display: block;
  height: 32px;
  color: #674a39;
  line-height: 32px;
  text-indent: 40px;
  text-transform: uppercase;
}
#wrap header > .container > button {
  display: none;
}
@media screen and (max-width:640px) {
  #wrap header > .container > button {
    background: none;
    border: none;
    outline: none;
    display: block;
    position: absolute;
    right: 7%;
    top: 50%;
    transform: translate(0, -50%);
    width: 24px;
    height: 18px;
    text-indent: -9999px;
    background-image: url(./../images/mnu_btn.png);
    background-position: center center;
    background-repeat: no-repeat;
  }
  #wrap header > .container > button.clse {
    background-image: url(./../images/clse_btn.png);
  }
}
#wrap header > .container > nav {
  position: absolute;
  z-index: 1000;
  right: 7%;
  top: 50%;
  transform: translate(0, -50%);
}
@media screen and (max-width:640px) {
  #wrap header > .container > nav {
    display: none;
    right: initial;
    left: 0;
    top: 66px;
    width: 100%;
    transform: initial;
    border-top: 1px solid #fff7ce;
  }
}
#wrap header > .container > nav > .gnb {
  display: flex;
}
@media screen and (max-width:640px) {
  #wrap header > .container > nav > .gnb {
    display: initial;
  }
}
@media screen and (max-width:640px) {
  #wrap header > .container > nav > .gnb > li {
    background-color: #fbf7c1;
    border-bottom: 1px solid #fff7ce;
  }
}
#wrap header > .container > nav > .gnb > li > a {
  display: block;
  padding: 0 15px;
  color: #685700;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.2s;
}
@media screen and (max-width:640px) {
  #wrap header > .container > nav > .gnb > li > a {
    height: 48px;
    padding: 0;
    line-height: 48px;
    text-indent: 7%;
  }
}
#wrap header > .container > nav > .gnb > li:hover > a, #wrap header > .container > nav > .gnb > li.on > a {
  color: #f08d50;
}
#wrap #aboutme {
  position: relative;
  min-width: 1200px;
  z-index: 200;
  background-color: #64381c;
  background-image: url(./../images/aboutme/bg_pattern.jpg);
}
@media screen and (max-width:640px) {
  #wrap #aboutme {
    padding-top: 140px;
    min-width: initial;
    background-image: none;
  }
}
#wrap #aboutme > h2 {
  padding-top: 50px;
  margin-bottom: 70px;
  color: #fff7ce;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
}
@media screen and (max-width:640px) {
  #wrap #aboutme > h2 {
    font-size: 7vw;
  }
}
#wrap #aboutme > h2:after {
  display: block;
  width: 520px;
  height: 115px;
  margin: -66px auto 0;
  background-image: url(./../images/titlebar.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
}
@media screen and (max-width:640px) {
  #wrap #aboutme > h2:after {
    width: 80%;
    margin: -70px auto 0;
  }
}
@media screen and (max-width:640px) {
  #wrap #aboutme > .container {
    width: 100%;
    margin-top: -40px;
  }
}
#wrap #aboutme > .container > .scroll {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 30px;
  height: 760px;
}
@media screen and (max-width:640px) {
  #wrap #aboutme > .container > .scroll {
    height: 1400px;
  }
}
#wrap #aboutme > .container > .scroll > .scrollArea {
  overflow: hidden;
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 53%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 850px;
  animation: scroll 0.4s ease-in-out 1s alternate forwards;
}
@media screen and (max-width:640px) {
  #wrap #aboutme > .container > .scroll > .scrollArea {
    width: 96%;
    height: 80%;
    margin-top: 40px;
    animation: none;
  }
}
#wrap #aboutme > .container > .scroll > .scrollArea > .scrollImage {
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 50%;
  width: 80%;
  min-width: 1200px;
  height: 86%;
  transform: translate(-50%, -50%);
  background-image: url(./../images/aboutme/aboutme_scroll.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80% 96%;
}
@media screen and (max-width:640px) {
  #wrap #aboutme > .container > .scroll > .scrollArea > .scrollImage {
    display: none;
  }
}
#wrap #aboutme > .container > .scroll > .scrollArea > .profile {
  position: absolute;
  z-index: 210;
  width: 330px;
  margin-top: 140px;
  left: 50%;
  transform: translate(30%, 0);
}
@media screen and (max-width:640px) {
  #wrap #aboutme > .container > .scroll > .scrollArea > .profile {
    width: 80%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
#wrap #aboutme > .container > .scroll > .scrollArea > .profile > div {
  position: relative;
  z-index: 200;
}
@media screen and (max-width:640px) {
  #wrap #aboutme > .container > .scroll > .scrollArea > .profile > div {
    width: 100%;
    margin-top: -60px;
  }
}
#wrap #aboutme > .container > .scroll > .scrollArea > .profile > div > .myphoto {
  width: 326px;
  height: 416px;
  background-image: url(./../images/aboutme/aboutme_frame.png);
  background-position: 0 bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width:640px) {
  #wrap #aboutme > .container > .scroll > .scrollArea > .profile > div > .myphoto {
    position: relative;
    left: 50%;
    top: -80px;
    transform: translate(-50%, 0);
  }
}
#wrap #aboutme > .container > .scroll > .scrollArea > .profile > div > .myphoto > .radius {
  overflow: hidden;
  position: relative;
  z-index: 210;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 390px;
}
#wrap #aboutme > .container > .scroll > .scrollArea > .profile > div > .myphoto > .radius > img {
  display: block;
  position: relative;
  left: -20%;
  top: 30px;
  width: 160%;
  margin: -100px 0 0 -30px;
}
#wrap #aboutme > .container > .scroll > .scrollArea > .profile > div > ol {
  color: #602a09;
  padding: 20px 0 0 10px;
}
@media screen and (max-width:640px) {
  #wrap #aboutme > .container > .scroll > .scrollArea > .profile > div > ol {
    padding: initial;
  }
}
#wrap #aboutme > .container > .scroll > .scrollArea > .profile > div > ol > li {
  height: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}
@media screen and (max-width:640px) {
  #wrap #aboutme > .container > .scroll > .scrollArea > .profile > div > ol > li {
    width: 300px;
    min-width: 300px;
    display: block;
    position: relative;
    color: white;
    left: 50%;
    top: -50px;
    transform: translate(-50%, 0);
  }
}
#wrap #aboutme > .container > .scroll > .scrollArea > .profile > div > ol > li > span {
  color: white;
}
@media screen and (max-width:640px) {
  #wrap #aboutme > .container > .scroll > .scrollArea > .profile > div > ol > li > span {
    color: #f08d50;
  }
}
#wrap #aboutme > .container > .scroll > .scrollArea > .biography {
  position: relative;
  z-index: 210;
  left: 50%;
  transform: translate(-84%, 0);
  top: 130px;
  margin-right: 30px;
  width: 500px;
  height: 70%;
}
@media screen and (max-width:640px) {
  #wrap #aboutme > .container > .scroll > .scrollArea > .biography {
    width: 100%;
    transform: translate(-50%, 0);
    margin-top: 520px;
    margin-right: initial;
  }
}
#wrap #aboutme > .container > .scroll > .scrollArea > .biography > .detail {
  margin-bottom: 44px;
}
@media screen and (max-width:640px) {
  #wrap #aboutme > .container > .scroll > .scrollArea > .biography > .detail {
    padding: 0 5%;
  }
}
#wrap #aboutme > .container > .scroll > .scrollArea > .biography > .detail > h3 {
  width: 500px;
  color: #c03611;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 32px;
}
@media screen and (max-width:640px) {
  #wrap #aboutme > .container > .scroll > .scrollArea > .biography > .detail > h3 {
    color: #f08d50;
  }
}
#wrap #aboutme > .container > .scroll > .scrollArea > .biography > .detail > p {
  width: 480px;
  margin-bottom: 20px;
  color: #602a09;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.2;
}
@media screen and (max-width:640px) {
  #wrap #aboutme > .container > .scroll > .scrollArea > .biography > .detail > p {
    width: 100%;
    color: #fff7ce;
    line-height: 1.4;
  }
  #wrap #aboutme > .container > .scroll > .scrollArea > .biography > .detail > p > br {
    display: none;
  }
}
#wrap #aboutme > .container > .scroll > .scrollArea > .biography > .detail > p > mark {
  background-color: #fcf8e3;
}
#wrap #aboutme > .container > .scroll > .scrollSide {
  position: absolute;
  z-index: 300;
  left: 50%;
  top: 11.4%;
  transform: translate(-50%, 0);
  width: 1000px;
  height: 90%;
}
@media screen and (max-width:640px) {
  #wrap #aboutme > .container > .scroll > .scrollSide {
    display: none;
  }
}
#wrap #aboutme > .container > .scroll > .scrollSide > .scrollLeft {
  position: absolute;
  z-index: 300;
  left: 40%;
  top: 0%;
  width: 94px;
  height: 850px;
  background-image: url(./../images/aboutme/aboutme_left.png);
  animation: scrollLeft 0.4s ease-in-out 1s alternate forwards;
}
@media screen and (max-width:640px) {
  #wrap #aboutme > .container > .scroll > .scrollSide > .scrollLeft {
    display: none;
    animation: none;
  }
}
#wrap #aboutme > .container > .scroll > .scrollSide > .scrollRight {
  position: absolute;
  z-index: 300;
  right: 40%;
  top: 0%;
  width: 94px;
  height: 850px;
  background-image: url(./../images/aboutme/aboutme_right.png);
  animation: scrollRight 0.4s ease-in-out 1s alternate forwards;
}
@media screen and (max-width:640px) {
  #wrap #aboutme > .container > .scroll > .scrollSide > .scrollRight {
    display: none;
    animation: none;
  }
}
#wrap #skill {
  position: relative;
  min-width: 1200px;
  background-color: #f08d50;
}
@media screen and (max-width:640px) {
  #wrap #skill {
    min-width: initial;
  }
}
#wrap #skill > h2 {
  padding-top: 60px;
  margin-bottom: 60px;
  color: #fff7ce;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
}
@media screen and (max-width:640px) {
  #wrap #skill > h2 {
    font-size: 7vw;
  }
}
#wrap #skill > h2:after {
  display: block;
  width: 520px;
  height: 115px;
  margin: -66px auto 0;
  background-image: url(./../images/titlebar.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
}
@media screen and (max-width:640px) {
  #wrap #skill > h2:after {
    width: 80%;
    margin: -70px auto 0;
  }
}
#wrap #skill > article:last-child {
  padding-bottom: 80px;
}
#wrap #skill > article.skill-1 {
  margin-bottom: 80px;
}
#wrap #skill > article > h3 {
  margin-bottom: 40px;
  color: #602a09;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.4;
  text-align: center;
}
#wrap #skill > article > h3 > span {
  color: #c03611;
}
#wrap #skill > article > ol {
  display: flex;
  justify-content: center;
}
@media screen and (max-width:640px) {
  #wrap #skill > article > ol {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
}
#wrap #skill > article > ol > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 44%;
  height: 172px;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
@media screen and (max-width:640px) {
  #wrap #skill > article > ol > li {
    width: 100%;
  }
  #wrap #skill > article > ol > li:first-child {
    margin-bottom: 40px;
  }
}
#wrap #skill > article > ol > li > h4 {
  margin-bottom: 10px;
  color: #fff09f;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
}
#wrap #skill > article > ol > li > p {
  color: white;
  font-size: 16px;
  line-height: 1.4;
}
@media screen and (max-width:640px) {
  #wrap #skill > article > ol > li > p > br {
    display: none;
  }
}
#wrap #skill > article.skill-1 li:first-child {
  padding-left: 260px;
  background-image: url(./../images/skill/skill_icon01_00.png);
  background-position: 80px 0;
  animation: skill01 1s ease infinite forwards;
}
@media screen and (max-width:640px) {
  #wrap #skill > article.skill-1 li:first-child {
    padding-left: 180px;
    background-position: 0 0;
  }
}
#wrap #skill > article.skill-1 li:last-child {
  padding-left: 230px;
  background-image: url(./../images/skill/skill_icon02_00.png);
  background-position: 50px 0;
  animation: skill02 2s ease infinite forwards;
}
@media screen and (max-width:640px) {
  #wrap #skill > article.skill-1 li:last-child {
    padding-left: 180px;
    background-position: 0 0;
  }
}
#wrap #skill > article.skill-2 li:first-child {
  padding-left: 260px;
  background-image: url(./../images/skill/skill_icon03_00.png);
  background-position: 80px 0;
  animation: skill03 2s ease infinite forwards;
}
@media screen and (max-width:640px) {
  #wrap #skill > article.skill-2 li:first-child {
    padding-left: 180px;
    background-position: 0 0;
  }
}
#wrap #skill > article.skill-2 li:last-child {
  padding-left: 230px;
  background-image: url(./../images/skill/skill_icon04_00.png);
  background-position: 50px 0;
  animation: skill04 0.4s ease infinite forwards;
}
@media screen and (max-width:640px) {
  #wrap #skill > article.skill-2 li:last-child {
    padding-left: 180px;
    background-position: 0 0;
  }
}
#wrap #ability {
  position: relative;
  min-width: 1200px;
  background-color: #674a39;
}
@media screen and (max-width:640px) {
  #wrap #ability {
    min-width: 100%;
  }
}
#wrap #ability > h2 {
  padding-top: 60px;
  margin-bottom: 60px;
  color: #fff7ce;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
}
@media screen and (max-width:640px) {
  #wrap #ability > h2 {
    font-size: 7vw;
  }
}
#wrap #ability > h2:after {
  display: block;
  width: 520px;
  height: 115px;
  margin: -66px auto 0;
  background-image: url(./../images/titlebar.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
}
@media screen and (max-width:640px) {
  #wrap #ability > h2:after {
    width: 80%;
    margin: -70px auto 0;
  }
}
#wrap #ability > .ability-container {
  position: relative;
}
@media screen and (max-width:640px) {
  #wrap #ability > .ability-container {
    top: -80px;
    margin-bottom: -80px;
  }
}
#wrap #ability > .ability-container > .abilityCross {
  position: absolute;
  left: 2%;
  top: -26%;
  rotate: 30deg;
  width: 237px;
  height: 336px;
  background-image: url(./../images/ability/ability_cross.png);
}
#wrap #ability > .ability-container > .abilitySword {
  position: absolute;
  right: 2%;
  top: -38%;
  width: 227px;
  height: 634px;
  background-image: url(./../images/ability/ability_sword.png);
}
#wrap #ability > .ability-container > .abilityBook {
  position: absolute;
  z-index: 0;
  left: 50%;
  top: -30px;
  transform: translate(-50%, 0);
  width: 780px;
  height: 476px;
  background-image: url(./../images/ability/ability_book.png);
}
@media screen and (max-width:640px) {
  #wrap #ability > .ability-container > .abilityBook {
    display: none;
  }
}
#wrap #ability > .ability-container > .stick {
  display: flex;
  position: relative;
  top: 30px;
  padding-bottom: 150px;
}
@media screen and (max-width:640px) {
  #wrap #ability > .ability-container > .stick {
    display: block;
    padding-bottom: 50px;
  }
}
#wrap #ability > .ability-container > .stick > .stick-container {
  position: relative;
  left: 50%;
  width: 300px;
}
@media screen and (max-width:640px) {
  #wrap #ability > .ability-container > .stick > .stick-container {
    width: 80%;
  }
}
#wrap #ability > .ability-container > .stick > .stick-container:first-child {
  transform: translate(-108%, 0);
}
@media screen and (max-width:640px) {
  #wrap #ability > .ability-container > .stick > .stick-container:first-child {
    transform: translate(-62.5%, 0);
  }
}
#wrap #ability > .ability-container > .stick > .stick-container:last-child {
  transform: translate(-92%, 0);
}
@media screen and (max-width:640px) {
  #wrap #ability > .ability-container > .stick > .stick-container:last-child {
    top: -10px;
    transform: translate(-62.5%, 0);
  }
}
#wrap #ability > .ability-container > .stick > .stick-container > .item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 100px;
  margin-bottom: 10px;
}
@media screen and (max-width:640px) {
  #wrap #ability > .ability-container > .stick > .stick-container > .item {
    margin-left: 15%;
  }
}
#wrap #ability > .ability-container > .stick > .stick-container > .item > h3 {
  position: absolute;
  left: 30%;
  padding-bottom: 30px;
  color: #602a09;
  font-size: 16px;
  font-weight: 600;
  line-height: 10px;
}
@media screen and (max-width:640px) {
  #wrap #ability > .ability-container > .stick > .stick-container > .item > h3 {
    left: 40%;
    color: #fff7ce;
  }
}
#wrap #ability > .ability-container > .stick > .stick-container > .item > .abilityIcon {
  width: 68px;
  height: 88px;
}
#wrap #ability > .ability-container > .stick > .stick-container > .item > .abilityIcon01 {
  background-image: url(./../images/ability/ability_icon00.png);
}
#wrap #ability > .ability-container > .stick > .stick-container > .item > .abilityIcon02 {
  background-image: url(./../images/ability/ability_icon01.png);
}
#wrap #ability > .ability-container > .stick > .stick-container > .item > .abilityIcon03 {
  background-image: url(./../images/ability/ability_icon02.png);
}
#wrap #ability > .ability-container > .stick > .stick-container > .item > .abilityIcon04 {
  background-image: url(./../images/ability/ability_icon03.png);
}
#wrap #ability > .ability-container > .stick > .stick-container > .item > .abilityIcon05 {
  background-image: url(./../images/ability/ability_icon04.png);
}
#wrap #ability > .ability-container > .stick > .stick-container > .item > .abilityIcon06 {
  background-image: url(./../images/ability/ability_icon05.png);
}
#wrap #ability > .ability-container > .stick > .stick-container > .item > .progress {
  position: relative;
  left: 7%;
  margin-top: 20px;
  width: 70%;
  height: 16px;
  background-color: #674a39;
}
#wrap #ability > .ability-container > .stick > .stick-container > .item > .progress:before {
  position: absolute;
  left: -3px;
  top: -3px;
  width: 100%;
  height: 16px;
  border: 3px solid #000;
  border-radius: 6px;
  content: "";
}
@media screen and (max-width:640px) {
  #wrap #ability > .ability-container > .stick > .stick-container > .item > .progress {
    width: 80%;
    background-color: rgb(19, 66, 37);
  }
}
#wrap #ability > .ability-container > .stick > .stick-container > .item > .progress > .bar {
  width: 0;
  height: 100%;
  border-right: 2px solid #000;
  background-image: url(./../images/ability/ability_progress.png);
  transition: all 2s ease-in-out;
}
#wrap #ability > .ability-container > .stick > .stick-container > .item > .progress > .bar > span {
  position: absolute;
  right: 2px;
  top: -20px;
  color: #602a09;
  font-size: 16px;
  font-weight: 600;
}
@media screen and (max-width:640px) {
  #wrap #ability > .ability-container > .stick > .stick-container > .item > .progress > .bar > span {
    color: #fff7ce;
  }
}
#wrap #ability > .resume {
  padding: 80px 0;
  background-color: #fbf7c1;
}
#wrap #ability > .resume > div {
  display: flex;
  justify-content: center;
  padding: 0 30px;
}
@media screen and (max-width:640px) {
  #wrap #ability > .resume > div {
    display: block;
  }
}
#wrap #ability > .resume > div > .frame {
  overflow: hidden;
  width: 440px;
  height: 314px;
  margin: 0 20px 0 20px;
  border-radius: 12px;
}
@media screen and (max-width:640px) {
  #wrap #ability > .resume > div > .frame {
    width: 100%;
    height: auto;
    margin: 0 0 10px 0;
  }
}
#wrap #ability > .resume > div > .frame > img {
  display: block;
  width: 130%;
}
@media screen and (max-width:640px) {
  #wrap #ability > .resume > div > .frame > img {
    width: 100%;
  }
}
#wrap #ability > .resume > div > .iam {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 6px;
}
#wrap #ability > .resume > div > .iam > p {
  color: #602a09;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
}
@media screen and (max-width:640px) {
  #wrap #ability > .resume > div > .iam > p > br {
    display: none;
  }
}
#wrap #ability > .resume > div > .iam > p > span {
  display: inline;
}
@media screen and (max-width:640px) {
  #wrap #ability > .resume > div > .iam > p > span {
    display: block;
  }
  #wrap #ability > .resume > div > .iam > p > span > br {
    display: none;
  }
}
#wrap #ability > .resume > div > .iam > a {
  display: block;
  position: relative;
  z-index: 800;
  left: 50%;
  top: 0%;
  bottom: 80px;
  width: 336px;
  height: 62px;
  margin-top: 12px;
  transform: translate(-50%, 0);
  color: #1f5104;
  font-weight: 600;
  font-size: 28px;
  line-height: 58px;
  text-align: center;
  background-image: url(./../images/ability/ability_button.png);
}
@media screen and (max-width:640px) {
  #wrap #ability > .resume > div > .iam > a {
    display: none;
  }
}
#wrap #uxdesign {
  position: relative;
  min-width: 1200px;
  padding-bottom: 40px;
  background-color: #f4ac7f;
}
@media screen and (max-width:640px) {
  #wrap #uxdesign {
    min-width: 100%;
    padding-bottom: 0;
  }
}
#wrap #uxdesign > h2 {
  padding-top: 60px;
  margin-bottom: 20px;
  color: #fff7ce;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
}
@media screen and (max-width:640px) {
  #wrap #uxdesign > h2 {
    font-size: 7vw;
  }
}
#wrap #uxdesign > h2:after {
  display: block;
  width: 520px;
  height: 115px;
  margin: -66px auto 0;
  background-image: url(./../images/titlebar.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
}
@media screen and (max-width:640px) {
  #wrap #uxdesign > h2:after {
    width: 80%;
    margin: -70px auto 0;
  }
}
#wrap #uxdesign > .maps {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 1100px;
  margin-bottom: 240px;
}
@media screen and (max-width:640px) {
  #wrap #uxdesign > .maps {
    width: 100%;
    height: initial;
    top: -10px;
    margin-bottom: 0;
  }
}
#wrap #uxdesign > .maps > .map {
  position: absolute;
  width: 1100px;
  height: 704px;
  background-image: url(./../images/uidesign/ui_map.png);
}
@media screen and (max-width:640px) {
  #wrap #uxdesign > .maps > .map {
    display: none;
  }
}
#wrap #uxdesign > .maps > .btn_boneEye {
  position: absolute;
  left: 116px;
  top: 590px;
  width: 86px;
  height: 54px;
  background-image: url(./../images/uidesign/ui_boneeye.png);
  opacity: 0;
  transition: all 1s;
}
@media screen and (max-width:640px) {
  #wrap #uxdesign > .maps > .btn_boneEye {
    display: none;
  }
}
#wrap #uxdesign > .maps > .btn_boneEye .looknme {
  opacity: 1;
}
#wrap #uxdesign > .maps > .uiDesignTab > .design01 {
  display: block;
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 500;
}
@media screen and (max-width:640px) {
  #wrap #uxdesign > .maps > .uiDesignTab > .design01 {
    position: relative;
    width: 100%;
    top: initial;
    margin-bottom: 40px;
  }
}
#wrap #uxdesign > .maps > .uiDesignTab > .design01 > .cutLine {
  overflow: hidden;
  width: 614px;
  border-radius: 10px;
  border: 3px solid #000;
}
@media screen and (max-width:640px) {
  #wrap #uxdesign > .maps > .uiDesignTab > .design01 > .cutLine {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
  }
}
#wrap #uxdesign > .maps > .uiDesignTab > .design01 > .cutLine > ol {
  display: flex;
  position: relative;
  left: 0%;
  width: 900%;
  height: 100%;
}
#wrap #uxdesign > .maps > .uiDesignTab > .design01 > .cutLine > ol > li {
  position: relative;
  width: 100%;
  background-color: #000;
  border-radius: 6px;
}
#wrap #uxdesign > .maps > .uiDesignTab > .design01 > .cutLine > ol > li > a {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#wrap #uxdesign > .maps > .uiDesignTab > .design01 > .cutLine > ol > li > a > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
#wrap #uxdesign > .maps > .uiDesignTab > .design02 {
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 18%;
  transform: translate(-50%, 0);
  z-index: 500;
}
@media screen and (max-width:640px) {
  #wrap #uxdesign > .maps > .uiDesignTab > .design02 {
    width: 100%;
    top: 0%;
    margin-bottom: 40px;
  }
}
#wrap #uxdesign > .maps > .uiDesignTab > .design02 > .cutLine {
  overflow: hidden;
  width: 614px;
  border-radius: 10px;
  border: 3px solid #000;
}
@media screen and (max-width:640px) {
  #wrap #uxdesign > .maps > .uiDesignTab > .design02 > .cutLine {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
  }
}
#wrap #uxdesign > .maps > .uiDesignTab > .design02 > .cutLine > ol {
  display: flex;
  position: relative;
  left: 0%;
  width: 800%;
  height: 100%;
}
#wrap #uxdesign > .maps > .uiDesignTab > .design02 > .cutLine > ol > li {
  position: relative;
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
}
#wrap #uxdesign > .maps > .uiDesignTab > .design02 > .cutLine > ol > li > a {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#wrap #uxdesign > .maps > .uiDesignTab > .design02 > .cutLine > ol > li > a > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
#wrap #uxdesign > .maps > .uiDesignTab > .design03 {
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 18%;
  transform: translate(-50%, 0);
  z-index: 500;
}
@media screen and (max-width:640px) {
  #wrap #uxdesign > .maps > .uiDesignTab > .design03 {
    width: 100%;
    top: 0%;
    margin-bottom: 40px;
  }
}
#wrap #uxdesign > .maps > .uiDesignTab > .design03 > .cutLine {
  overflow: hidden;
  width: 614px;
  border-radius: 10px;
  border: 3px solid #000;
}
@media screen and (max-width:640px) {
  #wrap #uxdesign > .maps > .uiDesignTab > .design03 > .cutLine {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
  }
}
#wrap #uxdesign > .maps > .uiDesignTab > .design03 > .cutLine > ol {
  display: flex;
  position: relative;
  left: 0%;
  width: 600%;
  height: 100%;
}
#wrap #uxdesign > .maps > .uiDesignTab > .design03 > .cutLine > ol > li {
  position: relative;
  width: 100%;
  background-color: #000;
  border-radius: 6px;
}
#wrap #uxdesign > .maps > .uiDesignTab > .design03 > .cutLine > ol > li > a {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#wrap #uxdesign > .maps > .uiDesignTab > .design03 > .cutLine > ol > li > a > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
#wrap #uxdesign > .maps > .uiDesignTab > .design04 {
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 23%;
  transform: translate(-50%, 0);
  z-index: 500;
}
@media screen and (max-width:640px) {
  #wrap #uxdesign > .maps > .uiDesignTab > .design04 {
    width: 100%;
    top: 4.2%;
    margin-bottom: 40px;
  }
}
#wrap #uxdesign > .maps > .uiDesignTab > .design04 > .cutLine {
  overflow: hidden;
  width: 614px;
  border-radius: 10px;
  border: 3px solid #000;
}
@media screen and (max-width:640px) {
  #wrap #uxdesign > .maps > .uiDesignTab > .design04 > .cutLine {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
  }
}
#wrap #uxdesign > .maps > .uiDesignTab > .design04 > .cutLine > ol {
  display: flex;
  position: relative;
  left: 0%;
  width: 1100%;
  height: 100%;
}
#wrap #uxdesign > .maps > .uiDesignTab > .design04 > .cutLine > ol > li {
  position: relative;
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
}
#wrap #uxdesign > .maps > .uiDesignTab > .design04 > .cutLine > ol > li > a {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#wrap #uxdesign > .maps > .uiDesignTab > .design04 > .cutLine > ol > li > a > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
#wrap #uxdesign > .maps > .uiDesignTab > .design05 {
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 16%;
  transform: translate(-50%, 0);
  z-index: 500;
}
@media screen and (max-width:640px) {
  #wrap #uxdesign > .maps > .uiDesignTab > .design05 {
    width: 100%;
    top: 0.8%;
    margin-bottom: 40px;
  }
}
#wrap #uxdesign > .maps > .uiDesignTab > .design05 > .cutLine {
  overflow: hidden;
  width: 320px;
  border-radius: 10px;
  border: 3px solid #000;
}
@media screen and (max-width:640px) {
  #wrap #uxdesign > .maps > .uiDesignTab > .design05 > .cutLine {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 44%;
  }
}
#wrap #uxdesign > .maps > .uiDesignTab > .design05 > .cutLine > ol {
  display: flex;
  position: relative;
  left: 0%;
  width: 500%;
  height: 100%;
}
#wrap #uxdesign > .maps > .uiDesignTab > .design05 > .cutLine > ol > li {
  position: relative;
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
}
#wrap #uxdesign > .maps > .uiDesignTab > .design05 > .cutLine > ol > li > a {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#wrap #uxdesign > .maps > .uiDesignTab > .design05 > .cutLine > ol > li > a > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
#wrap #uxdesign > .maps > .uiDesignTab > .design06 {
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 28.6%;
  transform: translate(-50%, 0);
  z-index: 500;
}
@media screen and (max-width:640px) {
  #wrap #uxdesign > .maps > .uiDesignTab > .design06 {
    width: 100%;
    top: 9.4%;
    margin-bottom: 40px;
  }
}
#wrap #uxdesign > .maps > .uiDesignTab > .design06 > .cutLine {
  overflow: hidden;
  width: 640px;
  border-radius: 10px;
  border: 3px solid #000;
}
@media screen and (max-width:640px) {
  #wrap #uxdesign > .maps > .uiDesignTab > .design06 > .cutLine {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
  }
}
#wrap #uxdesign > .maps > .uiDesignTab > .design06 > .cutLine > ol {
  display: flex;
  position: relative;
  left: 0%;
  width: 500%;
  height: 100%;
}
#wrap #uxdesign > .maps > .uiDesignTab > .design06 > .cutLine > ol > li {
  position: relative;
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
}
#wrap #uxdesign > .maps > .uiDesignTab > .design06 > .cutLine > ol > li > a {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#wrap #uxdesign > .maps > .uiDesignTab > .design06 > .cutLine > ol > li > a > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
#wrap #uxdesign > .maps .btn_designLeft {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-820%, 60%);
  width: 50px;
  height: 72px;
  background-image: url(./../images/btn_arrow.png);
  cursor: pointer;
}
@media screen and (max-width:640px) {
  #wrap #uxdesign > .maps .btn_designLeft {
    left: 1%;
    top: 30%;
    transform: translate(0, 0);
    z-index: 810;
  }
}
#wrap #uxdesign > .maps .btn_designRight {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(720%, 60%) scaleX(-100%);
  width: 50px;
  height: 72px;
  background-image: url(./../images/btn_arrow.png);
  cursor: pointer;
}
@media screen and (max-width:640px) {
  #wrap #uxdesign > .maps .btn_designRight {
    left: initial;
    right: 1%;
    top: 30%;
    transform: translate(0, 0) scale(-100%);
    z-index: 810;
  }
}
#wrap #uxdesign > .maps > .btnDesignTab {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 580px;
  transform: translate(-50%, 0);
  width: 522px;
}
@media screen and (max-width:640px) {
  #wrap #uxdesign > .maps > .btnDesignTab {
    position: relative;
    width: 90%;
    top: initial;
    bottom: 20px;
    margin-top: 10px;
  }
}
#wrap #uxdesign > .maps > .btnDesignTab > p {
  width: 88px;
  height: 74px;
  text-indent: -9999px;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
  cursor: pointer;
}
@media screen and (max-width:640px) {
  #wrap #uxdesign > .maps > .btnDesignTab > p {
    width: 60px;
    height: 60px;
  }
}
#wrap #uxdesign > .maps > .btnDesignTab > p:nth-child(1) {
  background-image: url(./../images/uidesign/ui_tabbtn01.png);
  opacity: 1;
}
#wrap #uxdesign > .maps > .btnDesignTab > p:nth-child(2) {
  background-image: url(./../images/uidesign/ui_tabbtn02.png);
}
#wrap #uxdesign > .maps > .btnDesignTab > p:nth-child(3) {
  background-image: url(./../images/uidesign/ui_tabbtn03.png);
}
#wrap #uxdesign > .maps > .btnDesignTab > p:nth-child(4) {
  background-image: url(./../images/uidesign/ui_tabbtn04.png);
}
#wrap #uxdesign > .maps > .btnDesignTab > p:nth-child(5) {
  background-image: url(./../images/uidesign/ui_tabbtn05.png);
}
#wrap #uxdesign > .maps > .btnDesignTab > p:nth-child(6) {
  background-image: url(./../images/uidesign/ui_tabbtn06.png);
}
#wrap #portfolio {
  position: relative;
  min-width: 1200px;
  padding-bottom: 20px;
}
@media screen and (max-width:640px) {
  #wrap #portfolio {
    min-width: 100%;
  }
}
#wrap #portfolio > h2 {
  padding-top: 60px;
  margin-bottom: 60px;
  color: #fff7ce;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
}
@media screen and (max-width:640px) {
  #wrap #portfolio > h2 {
    font-size: 7vw;
  }
}
#wrap #portfolio > h2:after {
  display: block;
  width: 520px;
  height: 115px;
  margin: -66px auto 0;
  background-image: url(./../images/titlebar.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
}
@media screen and (max-width:640px) {
  #wrap #portfolio > h2:after {
    width: 80%;
    margin: -70px auto 0;
  }
}
#wrap #portfolio > ol {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 900px;
}
@media screen and (max-width:640px) {
  #wrap #portfolio > ol {
    width: 100%;
  }
}
#wrap #portfolio > ol > li {
  position: relative;
  z-index: 800;
  width: 358px;
  height: 622px;
  background-image: url(./../images/portfolio/portfolio_wanted.png);
  background-size: cover;
  margin-bottom: 60px;
  text-align: center;
}
#wrap #portfolio > ol > li > a {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}
#wrap #portfolio > ol > li > .projectNumber {
  position: absolute;
  top: 50px;
  width: 100%;
  color: #c03611;
  font-weight: 500;
  font-size: 40px;
}
#wrap #portfolio > ol > li > .projectImage {
  position: absolute;
  left: 50%;
  top: 111px;
  transform: translate(-50%, 0);
  width: 226px;
  height: 360px;
  background-size: 100% 100%;
}
#wrap #portfolio > ol > li > .projectTitle {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 510px;
}
#wrap #portfolio > ol > li > .projectTitle > .mainTitle {
  color: #c03611;
  font-weight: 600;
  font-size: 24px;
}
#wrap #portfolio > ol > li > .projectTitle > .subTitle {
  margin-left: 2px;
  color: #c03611;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
}
#wrap #portfolio > ol > li > .projectInfo {
  position: absolute;
  top: 540px;
  width: 100%;
  color: #602a09;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
}
#wrap #portfolio > ol > li:nth-child(1) > .projectImage {
  background-image: url(./../images/portfolio/project_n01.jpg);
}
#wrap #contact {
  position: relative;
  min-width: 1200px;
  background-color: #fbf7c1;
  padding-bottom: 80px;
}
@media screen and (max-width:640px) {
  #wrap #contact {
    min-width: 100%;
  }
}
#wrap #contact > h2 {
  padding-top: 60px;
  margin-bottom: 60px;
  color: #fff7ce;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
}
@media screen and (max-width:640px) {
  #wrap #contact > h2 {
    font-size: 7vw;
  }
}
#wrap #contact > h2:after {
  display: block;
  width: 520px;
  height: 115px;
  margin: -66px auto 0;
  background-image: url(./../images/titlebar.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
}
@media screen and (max-width:640px) {
  #wrap #contact > h2:after {
    width: 80%;
    margin: -70px auto 0;
  }
}
#wrap #sideDeco {
  display: flex;
  position: fixed;
  justify-content: space-between;
  z-index: 400;
  top: 50%;
  transform: translate(0, -45%);
  width: 100%;
  height: 688px;
  visibility: visible;
}
@media screen and (max-width:640px) {
  #wrap #sideDeco {
    visibility: hidden;
  }
}
#wrap #sideDeco > #sideDecoLeft {
  display: none;
  position: relative;
  width: 94px;
  height: 688px;
  background-image: url(./../images/deco/side_deco00.png);
  z-index: 400;
  background-size: contain;
  opacity: 0;
  transform: scaleX(-100%);
  animation: sideDecoLeft 0.5s ease-in 0s alternate forwards;
}
#wrap #sideDeco > #sideDecoRight {
  display: none;
  position: relative;
  width: 94px;
  height: 688px;
  background-image: url(./../images/deco/side_deco00.png);
  z-index: 400;
  background-size: contain;
  opacity: 0;
  animation: sideDecoRight 0.5s ease-in 0s alternate forwards;
}
#wrap > #popupImage {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}
@media screen and (max-width:640px) {
  #wrap > #popupImage {
    width: 100%;
    background-size: contain;
  }
}
#wrap > #popupImage > img {
  position: absolute;
  z-index: 1010;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width:640px) {
  #wrap > #popupImage > img {
    width: 100%;
  }
}
#wrap > footer {
  position: relative;
  min-width: 1200px;
}
@media screen and (max-width:640px) {
  #wrap > footer {
    min-width: 100%;
  }
}
#wrap > footer > .info {
  background-color: #674a39;
}
#wrap > footer > .info > .container {
  position: relative;
  padding: 45px 7% 40px;
}
#wrap > footer > .info > .container h2,
#wrap > footer > .info > .container p {
  margin-bottom: 15px;
  color: #aaa;
  font-size: 13px;
}
#wrap > footer > .info > .container h2 > a,
#wrap > footer > .info > .container p > a {
  color: #aaa;
}
#wrap > footer > .info > .container h2 > .bar,
#wrap > footer > .info > .container p > .bar {
  margin: 0 10px;
}
#wrap > footer > .info > .container h2:after {
  display: block;
  position: absolute;
  right: 7%;
  top: 50%;
  transform: translate(0, -50%);
  width: 53px;
  height: 68px;
  background-image: url(./../images/footer_logo.png);
  content: "";
}
@media screen and (max-width:640px) {
  #wrap > footer > .info > .container h2:after {
    display: none;
  }
}
@media screen and (max-width:640px) {
  #wrap > footer > .info > .container > p.iam_2 > span {
    display: block;
  }
}
#wrap > aside {
  display: none;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 900;
}
#wrap > aside > .top {
  display: block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  background-color: #f08d50;
}
#wrap > aside > .top > i {
  color: #fbf7c1;
}/*# sourceMappingURL=style.css.map */